@media print {
  #toolbar,
  #branding,
  #footer,
  #help,
  .print-syslink,
  .contextual-links-wrapper {
    display: none;
  }
  body {
    font-family: sans-serif;
    padding-top: 0 !important;
  }
  .views-row {
    display: block; page-break-before: always;
  }
    .views-row-1 {
      page-break-before: avoid;
    }
  .view-commerce-line-item-table table {
    width: 100%;
  }
  .field-name-commerce-order-total {
    float: right;
  }
  fieldset {
    clear: both;
    margin: 20px 0;
  }
  .field-type-commerce-customer-profile-reference {
    float: left;
    width: 30%;
  }
}
